.card {
    height: 100%;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.header-bg {
    background-color: #8B4513; 
}

.btn-add-to-cart {
    background-color: #FFA500;
    color: #FFFFFF;
    border-color: #FFA500;
}

.btn-add-to-cart:hover {
    background-color: #FF8C00;
    border-color: #FF8C00;
    color: #FFFFFF;
}